*{
    margin: 0;
    padding: 0;

}

.store-container{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;

}

.shopperGirl-img{
    position: absolute;
    top: -90%;
    left: 100%;
    height: 40vh;

    
}

.shopperStick-img{
    position: absolute;
    top: -30%;
    left: -60%;
    height: 40vh;
}

.cart-img{
    position: absolute;
    top: 14vh;
    left: -12vw;
    height: 20vh;
}

.left-aile{
    position: absolute;
    width: 100%;
    height: 35vh;
    background-color:#966F33;
    /* rotate 90deg */
    transform: rotate(-66deg);
    top:52%;
    left:-50%;

    /* if over some other element then hide */
    z-index: 0;


}

.right-aile{
    position: absolute;
    width: 85%;
    height: 35vh;
    background-color:#966F33;
    /* rotate 90deg */
    transform: rotate(66deg);
    top:10%;
    left:50%;

    /* if over some other element then hide */
    z-index: 0;

    
    
}

.aileHead{
    /* place the content above left-aile */
    display: flex;
    position: absolute;
    top: 0vh;
    left: 60vh;
    width: 83%;
    height: 10vh;
   background-color: goldenrod;
    z-index: 1;
    color: aliceblue;

}

.aileHeadText{
   /* center the text in the div above left-aile */
    margin: auto;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}
.aileItem1{
    /* place the content above left-aile */
    display: flex;
    position: absolute;
    top: 12vh;
    left: 60vh;
    width: 83%;
    height: 5vh;
    z-index: 1;
    color: aliceblue;
}

.aileItemText1{
    /* center the text in the div above left-aile */
     margin: auto;
     font-size: 1.5rem;
     font-weight: 600;
     text-align: center;
}

.aileItem2{
    /* place the content above left-aile */
    display: flex;
    position: absolute;
    top: 20vh;
    left: 60vh;
    width: 83%;
    height: 5vh;
    z-index: 1;
    color: aliceblue;
}
.aileItemText2{
    /* center the text in the div above left-aile */
     margin: auto;
     font-size: 1.5rem;
     font-weight: 600;
     text-align: center;
}
.aileItem3{
    /* place the content above left-aile */
    display: flex;
    position: absolute;
    top: 28vh;
    left: 60vh;
    width: 83%;
    height: 5vh;
    z-index: 1;
    color: aliceblue;
}
.aileItemText3{
    /* center the text in the div above left-aile */
     margin: auto;
     font-size: 1.5rem;
     font-weight: 600;
     text-align: center;
}

.cashier{
    /* put the image just above the counter */
    position: absolute;
    top: -60%;
    left: 20%;
    width:100px;
     height:100px

}

.cashier-computer{
    left: 25vw;
}

.counter{
    /* color it as wood color */
    background-color: brown;
    width: 40%;
    height: 20vh;
    position: absolute;
    /* center it */
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    /* put any image above it */
    z-index: 2;
    /* make the div's edges round */
    border-radius: 10px;
    
}

.label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    z-index: 3;
    color: white;
    /* make the font robotic */
    font-family: 'Roboto', sans-serif;
}

.rack{
    /* make the div look like a dvd rack */
    background-color: brown;
    width: 10%;
    height: 30vh;
    /* put any image above it */
    z-index: 2;
    /* make the div's edges round */
    border-radius: 10px;

    /* give a 3d look to the box with another box in behind*/
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);



}

.rack1{
    position: absolute;
    /* center it */
    left: 30%;
    top: 60%;
    transform: translate(-50%,-50%);

}

.rack2{
    position: absolute;
    /* center it */
    left: 70%;
    top: 60%;
    transform: translate(-50%,-50%);

}

.rack3{
    position: absolute;
    /* center it */
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);

}
.icn_sale{
    width: 5px;
    margin-left:27px;
}
.icn_feat{
    width: 5px;
    margin-left:19px;
}
.heading-rack{
    width: 100%;
    height: 6vh;

    display: flex;
}

.label-rack{
    /* set width to cover all*/
    display: flex;
  /* center within div */
    justify-content: center;
    align-items: center;
    /* make the font robotic */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 3px;
    /* draw a horizontal lize at bottom */
    border-bottom: 1px solid white;
    
}

.listOfGames {
    color: white;
    font-size: 1.2rem;
    overflow: scroll;
    margin-top: 20px;
}

.navbar{
    width: 100%;
    position: absolute;
    z-index: 3;
}


.navbar-head{
    /* background-color:red; */
    flex: 4;

    
}

.navbar-subhead{
    /* background-color:blue; */
    flex: 1;
    float: right;
}